
<div class="container text-center p-5">
    <div class="spinner-border text-primary" role="status" *ngIf="isLoading">
        <span class="sr-only">Loading...</span>
    </div>

    <div *ngIf="errorNotLoading">
        <h2>Deu erro! 😕</h2>
    </div>

    <table class="table table-hover" *ngIf="!isLoading && !errorNotLoading">
        <tr>
            <th> Id </th>
            <th> Data </th>
            <th> Descrição </th>
            <th> Valor </th>
            <th> Categoria </th>
        </tr>

        <tr *ngFor="let transacao of transacoes">
            <td> {{ transacao.id }} </td>
            <td> {{ transacao.data | date }} </td>
            <td> {{ transacao.descricao }} </td>
            <td> {{ transacao.valor | currency: "BRL" }} </td>
            <td> {{ transacao.categoria }} </td>
        </tr>
    </table>
</div>
