<p>Valor atual dentro de deveExibir: {{ deveExibir }}</p>
<button (click)="trocarValor()"> Trocar Valor </button>

<div *ngIf="deveExibir; else elseBlock">
    Olá! Estou dentro do ngIf.
</div>

<ng-template #elseBlock>
    Vou ser exibido quado "deveExibir" for false!
</ng-template>

<div *ngIf="soma(5,6) > 10">
    Exibe baseado na soma maior que 10;
</div>

<div *ngIf="deveExibir; then thenBlock else elseBlock2"></div>
<ng-template #thenBlock>BLOCO TRUE DO NG-TEMPLATE.</ng-template>
<ng-template #elseBlock2>BLOCO FALSE DO NG-TEMPLATE.</ng-template>