<div class="text-center">

    <form #form="ngForm" (ngSubmit)="onSubmit(form)" class="form-signin pt-5">

        <div class="p-2">
            <input 
                type="email"
                class="form-control" 
                placeholder="E-mail" 
                name="email" 
                [(ngModel)]="email"
                email
                required
            >
            <p 
                *ngIf="exibeErro('email', form)"
            >
                E-mail inválido.
            </p>
        </div>

        <div class="p-2">
            <input 
                type="password" 
                class="form-control" 
                placeholder="Senha"
                name="password" 
                [(ngModel)]="password"

                required
            >
            <p
                *ngIf="exibeErro('password', form)"
            >
                Senha inválida.
            </p>
        </div>

        <div class="p-2">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Entrar</button>
        </div>

    </form>
</div>>