Valor atual de valorDoContador: {{ valorDoContador }};

<app-exercicio-contador
    [(valor)]="valorDoContador"
>
</app-exercicio-contador>

<h1> Event Binding Examples: </h1>

<button (click)="onClickButton($event)">
    Emitir informação de clique.
</button>

<br>

<button 
(click)="onClick($event)"
(mouseenter)="passouMouse($event)"
> Clique em mim! </button>

<br>

<input type="text" [value]="valorDoInput" (keyup)="digitouAlgo($event)">

<br>

<p> Valor do Input: {{ valorDoInput }} </p>

<hr>

<h1> Property Binding Examples: </h1>

<h2> Palavra: {{ word }} </h2>
<h2> Cor favorita: {{ color }} </h2>

<input type="text" [value]="initialValue">

<br>

<button [disabled]="isDisabled">Clique em mim!</button>

<br>

<p [attr.aria-label]="isDisabled ? 'Botão desabilitado' : accesibilityText">
    Um texto qualquer...
</p>

<br>

<img [src]="imageURL">